@model HRDemoAdmin.Services.Models.EmployeeResponse

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee #@Model.EmployeeID</h4>
    <hr />
<dl class="dl-horizontal">
    <dt>Name</dt>

    <dd>
        @Html.DisplayFor(model => model.FirstName)
        <span> </span>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.JobTitle)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.JobTitle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Phone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Phone)
    </dd>

    @if (Model.Department != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            <a href="/Departments/Details/@Model.Department.DepartmentID">@Html.DisplayFor(model => model.Department.Name)</a>
        </dd>
    }

    @if (Model.Address != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            <address>
                <p class="m-0">@Model.Address.Line1</p>
                <p class="m-0">@Model.Address.Line2</p>
                <p class="m-0">@Model.Address.City</p>
                <p class="m-0">@Model.Address.State, @Model.Address.Country</p>
            </address>
        </dd>
    }

</dl>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
