<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

<head>
    @foreach (var cssFile in Directory.GetFiles(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/css"), "*.css", SearchOption.AllDirectories))
    {
        <link rel="stylesheet" href="~/css/@cssFile.Substring(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/css").Length).Replace("\\", "/")" />
    }
</head>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">HR Demo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/Departments">Departments</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Employees">Employees</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Attendances">Attendances</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Leaves">Leaves</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Payrolls">Payrolls</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <div class="d-flex justify-content-between align-content-end">
            <div>
                <p class="m-0">@DateTime.Now.ToString("MMMM dd, yyyy")</p>
                <p class="m-0">@DateTime.Now.ToString("dddd")</p>
            </div>
            <div>
                <p class="m-0">@ViewBag.UserName</p>
                <span class="badge small bg-success">@ViewBag.UserRole</span>
            </div>
        </div>

        @foreach (var jsFile in Directory.GetFiles(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/js"), "*.js", SearchOption.AllDirectories))
        {
            <script src="~/js/@jsFile.Substring(System.IO.Path.Combine(Directory.GetCurrentDirectory(), "wwwroot/js").Length).Replace("\\", "/")"></script>
        }

        <div class="container mt-4 px-0">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HR Demo</p>
        </footer>
    </div>

</body>

<script>
    $(document).ready(function () {
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    });
</script>

</html>
