@model HRDemoAdmin.Services.Models.PayrollResponse

@{
    ViewData["Title"] = "Payroll Details";
}

<div>
    <h4>Payroll Details #@Model.PayrollID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Employee</dt>

        <dd>
            Name: <a href="/Employees/Details/@Model.Employee.EmployeeID">
                @Html.DisplayFor(model => model.Employee.FirstName)
                <span> </span>
                @Html.DisplayFor(model => model.Employee.LastName)
            </a> 
            <br/>
           Email: @Html.DisplayFor(model => model.Employee.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)/@Html.DisplayNameFor(model => model.Month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year) @System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[Model.Month - 1]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            <p class="row g-2 m-0">
                <span class="col-3">@Html.DisplayNameFor(model => model.Salary.GrossAmount)</span>
                <span class="col-3">@Html.DisplayFor(model => model.Salary.GrossAmount)</span>
            </p>
            <p class="row g-2 m-0">
                <span class="col-3">@Html.DisplayNameFor(model => model.Salary.PreTaxDeduction)</span>
                <span class="col-3">@Html.DisplayFor(model => model.Salary.PreTaxDeduction)</span>
            </p>
            <p class="row g-2 m-0">
                <span class="col-3">@Html.DisplayNameFor(model => model.Salary.TaxDeduction)</span>
                <span class="col-3">@Html.DisplayFor(model => model.Salary.TaxDeduction)</span>
            </p>
            <p class="row g-2 m-0">
                <span class="col-3">@Html.DisplayNameFor(model => model.Salary.PostTaxDeduction)</span>
                <span class="col-3">@Html.DisplayFor(model => model.Salary.PostTaxDeduction)</span>
            </p>
            <p class="row g-2 fw-bold m-0">
                <span class="col-3">@Html.DisplayNameFor(model => model.Salary.NetAmount)</span>
                <span class="col-3">@Html.DisplayFor(model => model.Salary.NetAmount)</span>
            </p>
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
            <button id="changeStatusBtn" class="btn btn-sm @Html.Raw(Model.Status == "Processed" ? "btn-danger" : "btn-success")" data-status="@Model.Status">@(Model.Status == "Processed" ? "Revert" : "Approve")</button>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PayrollID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.PayrollID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function () {
        $("#changeStatusBtn").click(function () {
            $.ajax({
                url: `/Payrolls/PayrollStatus/${@Model.PayrollID}?processed=${$(this).data("status")!="Processed"}`,
                type: "POST",
                success: function (response) {
                    // Handle success response
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    $("html").html(xhr.responseText);
                }
            });
        });
    });
</script>
