@model HRDemoAdmin.Services.Models.LeaveResponse

@{
    ViewData["Title"] = "Leave Details";
}

<div>
    <h4>Leave Details #@Model.LeaveID</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Employee</dt>

        <dd>
            <a href="/Employees/Details/@Model.Employee.EmployeeID">
                @Html.DisplayFor(model => model.Employee.FirstName)
                <span> </span>
                @Html.DisplayFor(model => model.Employee.LastName) (@Html.DisplayFor(model => model.Employee.Email))
            </a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type) Leave
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
            <button id="changeStatusBtn" class="btn btn-sm @Html.Raw(Model.Status == "Approved" ? "btn-danger" : "btn-success")" data-status="@Model.Status">@(Model.Status == "Approved" ? "Reject" : "Approve")</button>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Model.StartDate.ToString("M/d/yyyy h:mm tt")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Model.EndDate.ToString("M/d/yyyy h:mm tt")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LeaveID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.LeaveID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script>
    $(document).ready(function () {
        $("#changeStatusBtn").click(function () {
            $.ajax({
                url: `/Leaves/LeaveStatus/${@Model.LeaveID}?approve=${$(this).data("status")!="Approved"}`,
                type: "POST",
                success: function (response) {
                    // Handle success response
                    window.location.reload();
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error("Error: " + error);
                }
            });
        });
    });
</script>
